<!--lists.html-->
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/lists.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Questrial&family=Sacramento&display=swap" rel="stylesheet">
    <title>Christmas Lists</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
</head>
<body>
    <div id="navbar">
        <ul>
            <li><a href='/'>Home</a></li>
            <li>Lists</li>
            <li><a href='/'>Logout</a></li>
        </ul>
    </div>
    <h1>Christmas Lists</h1>
    <center>
    <div id="row1" class="row">
        <button id="Alex" onclick="sendButtonClick('Alex')" class="namebutton">Alex</button>
        <button id="Sam" onclick="sendButtonClick('Sam')" class="namebutton">Sam</button>
        <button id="Grandma" onclick="sendButtonClick('Grandma')" class="namebutton">Grandma</button>
        <button id="Grandpa" onclick="sendButtonClick('Grandpa')" class="namebutton">Grandpa</button><br>
    </div>
    <div id="row2" class="row">
        <button id="Stacey" onclick="sendButtonClick('Stacey')" class="namebutton">Stacey</button>
        <button id="Steve" onclick="sendButtonClick('Steve')" class="namebutton">Steve</button>
        <button id="Abby" onclick="sendButtonClick('Abby')" class="namebutton">Abby</button><br>
    </div>
    <div id="row3" class="row">
        <button id="Tom" onclick="sendButtonClick('Tom')" class="namebutton">Tom</button>
        <button id="Sherri" onclick="sendButtonClick('Sherri')" class="namebutton">Sherri</button>
        <a href="/list" onclick="sendButtonClick('Alyssa')"><button id="Alyssa" class="namebutton">Alyssa</button></a>
        <button id="Rachel" onclick="sendButtonClick('Rachel')" class="namebutton">Rachel</button><br>
    </div>
    <div id="row4" class="row">
        <button id="Jen" onclick="sendButtonClick('Jen')" class="namebutton">Jen</button>
        <button id="Dan" onclick="sendButtonClick('Dan')" class="namebutton">Dan</button>
        <button id="Danny" onclick="sendButtonClick('Danny')" class="namebutton">Danny Jr</button><br>
    </div>
    <div id="row5" class="row">
        <button id="Brian" onclick="sendButtonClick('Brian')" class="namebutton">Brian</button>
        <button id="Rachael" onclick="sendButtonClick('Rachael')" class="namebutton">Rachael</button>
        <button id="Annalise" onclick="sendButtonClick('Annalise')" class="namebutton">Annalise</button>
        <button id="Dave" onclick="sendButtonClick('Dave')" class="namebutton">Dave</button><br>
    </div>
    </center>
    <script src="/static/javascript/lists.js"></script>
</body>